@keyframes buttonClick {
    0% { transform: scale(1); }
    50% { transform: scale(0.9); } /* Shrink effect */
    100% { transform: scale(1); }
}

button:active {
    animation: buttonClick 0.2s ease-in-out;
}
.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

body{
    background-image: url('bg.jpg');
    background-size: cover;
}


#OGbutton {
    background-color: #007acc;
    color: white;
    font-size: 24px; 
    padding: 20px 40px; 
    border: none;
    border-radius: 15px; 
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 25px;
    width:250px;
    height: 100px;
    
}

#button1{
    background-color:#007acc; 
    color: white;
    font-size: 24px; 
    padding: 20px 40px; 
    border: none;
    border-radius: 15px; 
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 350px;
    width:250px;
    height: 100px;
}

#button2{
    background-color: #cc0000;
    color: white;
    font-size: 24px; 
    padding: 20px 40px; 
    border: none;
    border-radius: 15px; 
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 675px;
    width:250px;
    height: 100px;
}
#button3{
    background-color: #007acc;
    color: white;
    font-size: 24px; 
    padding: 20px 40px; 
    border: none;
    border-radius: 15px; 
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 1000px;
    width:250px;
    height: 100px;
}

#OGbutton:hover {
    background-color: #33ffcf;
}
#button1:hover {
    background-color: #33ffcf;
}
#button2:hover {
    background-color: #33ffcf;
}
#button3:hover {
    background-color: #33ffcf;
}
#img{
    position:absolute;
    display: block;
    margin-top: 180px; 
    margin-left: 50px;
    width: 150px;
    height: 150px;
    border-radius:50%;
}
#user{
    background-color:#ffffffff;
    color: #5a4e4e;
    font-size: 20px; 
    padding: 20px 25px; 
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    position: absolute;
    left:450px;
    top:235px;
    width:300px;
    height:25px;
}
#pass{
    background-color:#ffffffff;
    color: #5a4e4e;
    font-size: 20px; 
    padding: 20px 25px; 
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    position: absolute;
    left:450px;
    top:305px;
    width:300px;
    height:25px;
}
#email{
    background-color:#ffffffff;
    color: #5a4e4e;
    font-size: 20px; 
    padding: 20px 25px; 
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    position: absolute;
    left:450px;
    top:375px;
    width:300px;
    height:25px;
}